<header>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo de la Tienda">
    </div>
    <div class="slogan">
        <h1>Bienvenido a nuestra Tienda de Videojuegos</h1>
        <p>Encuentra los mejores videojuegos al mejor precio</p>
    </div>
</header>
<section class="destacados">
    <h2>Juegos Destacados</h2>
    <div class="producto">
        <img src="../../../assets/images/fifa24.png" alt="Fifa">
        <h3>FIFA 24</h3>
        <p>Disfruta del mejor videojuego de tu deporte favorito.</p>
    </div>
    <div class="producto">
        <img src="../../../assets/images/fortnite.png" alt="Fortnite">
        <h3>Fortnite</h3>
        <p>Diviertete con tus amigos ganando cada batalla campal.</p>
    </div>
    <div class="producto">
        <img src="../../../assets/images/gtav.png" alt="gtav">
        <h3>GTA V</h3>
        <p>Divierte juego la campaña o en linea del juego mas vendido en la historia.</p>
    </div>
</section>


